@charset "utf-8";
/* CSS Document */
* {
	margin:0px;
	padding:0px;
}
body {
	margin:0 auto;

	font:12px/1.6 "宋体"; background-color:rgb(54,132,88);
}
#logo { width:450px; height:280px; background-color:#FFF; margin:0 auto; margin-top:150px; }
#logo h1 { padding-top:30px;
	color:rgb(54,132,88);
	font-size:25px;
	font-family:"黑体";
	text-align:center;
}
form{ margin-left:70px;}  
p{ margin:20px;}
