<div id="left">
  <h3>养生管理</h3>
  <ul>
    <li><a href="tj_yangsheng.php">添加养生</a></li>
    <li><a href="ck_yangheng.php">编辑养生</a></li>
  </ul>
  <h3>健康咨询管理</h3>
  <ul>
    <li><a href="ck_jiangkangzixun.php">编辑健康咨询</a><a href="ck_jiangkangzixun.php"></a></li>
    <li><a href="tj_jiangkangzixun.php">添加健康咨讯</a></li>
  </ul>
  <h3>会员管理</h3>
  <ul>
    <li><a href="user.php">查看会员</a></li>
  </ul>
  <h3>预订管理</h3>
  <ul>
    <li><a href="ck_yuding.php">编辑预订</a></li>
    <li><a href="tj_yuding.php">添加预订</a></li>
  </ul>
</div>