<html>
<head>
    <meta charset="utf-8">
    <title>登录</title>
    <link href="./css/denglu.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="all">
    <div class="p">欢迎登录</div>
    <br/>
    <div class="nav">
        <label for="username" class="l">用&nbsp;户&nbsp;名:</label>
        <div class="d">
            <input id="username" type="text" class="i">
        </div>
        <br/><br/>
        <label for="password" class="l">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码:</label>
        <div class="d">
            <input id="password" type="text" class="i">
        </div>
        <br/><br/>
        <label for="ver_code" class="l">验&nbsp;证&nbsp;码:</label>
        <div class="d">
            <input id="ver_code" type="text" class="i">
        </div>
        <br/><br/>
        <input type="submit" value="登录"
               style="margin-left:80px;height:30px;width:380px;display:inline-block;border-radius:10px;"/>
    </div>
</div>
</body>
</html>