<html>
<head>
    <title>米粒健康养生网</title>
    <link href="./css/index.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
    <script src="bootstrap/js/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
</head>
<body>
<div class="all">
    <div class="top">
        <div class="l_top">
            <img src="images/bpic4.jpg" width="50" height="80" align="left"/>
            <p>健康养生网</p>
            <p>Hwalth keeping in good health</p>
        </div>
        <div class="r_top">
            <div class="r_top1">
                <p><a href="denglu.html">登录</a></p>
            </div>
            <div class="r_top2">
                <p><a href="zhuce.html">注册</a></p>
            </div>
        </div>
    </div>
    <div class="nav">
        <div class="l_left">
            <p>让养生更全面，让生活更健康</p>
        </div>
        <div class="right_r">
            <div class="r_top3">
                <p><a href="index.html">首页|</a></p>
            </div>
            <div class="r_top4">
                <p><a href="yangshengzhishi.html">养生知识</a></p>
            </div>
            <div class="r_top5">
                <p><a href="jiankangzixun.html">|健康咨询</a></p>
            </div>
            <div class="r_top6">
                <p><a href="yuding.html">|预订</a></p>
            </div>
        </div>
    </div>
    <!-- <轮播开始> -->
    <div class="tupan">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators 切换按钮-->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"><>
                <li data-target="#carousel-example-generic" data-slide-to="1"><>
                <li data-target="#carousel-example-generic" data-slide-to="2"><>
            </ol>

            <!-- Wrapper for slides 切换图片-->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="images/bpic9.jpg" width="1300" height="400" alt="...">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item">
                    <img src="images/bpic7.jpg" width="1300" height="400" alt="...">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item">
                    <img src="images/bpic8.jpg" width="1300" height="400" alt="...">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="nr">
        <p>养生简介</p>
    </div>
    <div class="jianjie">
        <div class="left_l">
            <img src="images/bpic3.jpg" width="600" height="430" align="left"/>
        </div>
        <div class="right_r01">
            <div class="r_right1">
                <p><a href="#">养生</a></p>
            </div>
            <hr size="5" color="gray"/>
            <div class="r_right2">
                <p>
                    　在生活中，不少人都将养生之道等同于养生之术，其实不然。中医将养生的理论称为“养生之道”，而将养生的方法称为“养生之术”。朝暮叩齿三百六，七老八十好牙口；头为精神之府，日梳五百健耳目；脚为第二心脏，搓涌泉保健康；日咽唾液三百口，保你活到九十九；日撮谷道一百遍，治病消疾又延年；随手揉腹一百遍，通和气血禆神元；人之肾气通于耳，扯拉搓揉健身体；常伸懒腰乃古训，消疲养血又养心。
                </p>
            </div>
            <div class="r_right3">
                <p>养生特点</p>
            </div>
            <hr size="5" color="gray"/>
            <div class="r_right4">
                <p>养生的特点就是要强调在养生之道和养生之术基础上的“因人施养”，在群体中并不强求统一性。例如，甲需要重点形体养护；乙需要着重调理饮食；而丙则需要着重调摄精神等，如果我们对甲乙丙三人
                    不分青红皂白，一律要求他们加强形体锻炼或一律改变某种饮食结构，或一律静坐练习气功就不一定符合每个人的养生需要了。
                </p>
            </div>
        </div>
    </div>
    <div class="ys">
        <p><strong>膳食养生</strong></p>
    </div>
    <div class="weibu">
        <div class="l_wz">
            <div class="l_wz1">
                <p>前言</p>
            </div>
            <div class="l_wz2">
                <p>
                    如今人们越来越注重健康，因此对于日常的饮食也越来越关注，吃什么对身体有益已经成为人们最关心的话题。养生滋补不一定是那些昂贵的保养品，也不一定是什么山珍海味，而普通廉价的食物同样具有养生保健的功效，对于一些疾病还有预防作用，不仅如此还可延年益寿。
                </p>
            </div>
            <hr size="5" color="gray"/>
            <div class="l_wz3">
                <p><a href="richangyangsheng.html">日常膳食养生</a></p>
            </div>
            <div class="l_wz4">
                <p>大白菜

                    大白菜，平常菜，老年人，最喜爱。白菜味道鲜美、劳素皆宜，国画大师齐白石先生有一幅大白菜图，独论白菜为“菜中之王”，并赞“百菜不如白菜”。老人常说：“白菜吃半年，大夫享清闲”。可见，常吃白菜有利于祛病延年。大白菜含有矿物质、维生素、蛋白质、粗纤维。从药用功效说，大白菜能养胃


                </p>
            </div>
        </div>
        <div class="r_tupan">
            <img src="images/bpic3.jpg" width="600" height="430" align="left"/>
        </div>
    </div>
    <div class="footer">
        <p>@milijiankanyangsheng.com 版权所有：计算机网络1701班刘丽所属 &nbsp;&nbsp;制作人：刘丽 </p>
    </div>
</div>
</body>
</html>

