<html>
<head>
    <meta charset="utf-8">
    <title>健康养生咨询</title>
    <link href="./css/jiankangzixun.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="all">
    <!--  html头部 -->
    <div class="top">
        <div class="l_top">
            <img src="images/bpic4.jpg" width="50" height="80" align="left"/>
            <p>健康养生网</p>
            <p>Hwalth keeping in good health</p>
        </div>
        <div class="r_top">
            <div class="r_top1">
                <p><a href="denglu.html">登录</a></p>
            </div>
            <div class="r_top2">
                <p><a href="zhuce.html">注册</a></p>
            </div>
        </div>
    </div>
    <div class="daohan">
        <div class="r_daohan">
            <ul>
                <li><a href="index.html">首页</a></li>
                <li><a href="yangshengzhishi.html">养生知识</a></li>
                <li><a href="jiankangzixun.html">健康咨询</a></li>
                <li><a href="yuding.html">预订</a></li>
            </ul>

        </div>
    </div>
    <div class="mather01">
        <div class="wd01">
            <img src="./images/bpic46.jpg" width="400" height="200"/>
        </div>
        <div class="wd02">
            <p><a href="#">经痛怎么办 中医支招解决痛经难题?</a></p>

            　　<p>一、痛经的原因
            <p>

                　　在中医看来通着不痛，痛则不通。女性出现痛经的原因很复杂，但多和气滞血瘀、宫寒、气虚以及精神方面有关。所以中医调理痛经也多从这方面着手。
                　　
            <p>　1.气滞血瘀导致痛经
                　　因为气滞血瘀导致的痛经常常表现为小腹胀痛，量少，有血块。这往往是由于子宫内淤血流不出的原因造成。正是应证了“痛则不通”这个说法。
            </p>

        </div>
    </div>
    <hr size="1" color="gray"/>
    <div class="mather02">
        <div class="wd01">
            <img src="./images/bpic47.jpg" width="400" height="200"/>
        </div>
        <div class="wd02">
            <p><a href="#">如何做能够给肌肤有效补充水分呢？</a></p>

            　　<p>1、适当利用补水面膜
            <p>

                　　补水面膜，是每个女性的皮肤补水“神器”.由于秋天的天气比较干燥，因此敷面膜的次数可以适当调整一下，比如一周可以敷3-4次补水面膜，给干燥的皮肤补充水分，缓解面部紧绷情况，让脸蛋更显滋润嫩滑，提升容颜年轻态。

                　　
            <p>2、选择合适自己肤质的补水保湿护肤品...</p>

        </div>
    </div>
    <div class="mather03">
        <div class="wd01">
            <img src="./images/bpic48.jpg" width="400" height="200"/>
        </div>
        <div class="wd02">
            <p><a href="#">经常练的瑜伽种类有哪些 哈他瑜伽怎么练?</a></p>
            　　哈他瑜伽,在哈他这个词中，“哈”的意思是太阳，“他”的意思是月亮。“哈他”代表男与女，日与夜、阴与阳、冷与热、柔与刚，以及其他任何相辅相成的两个对立面的平衡。哈他瑜伽认为，人体包括两个体系，一为精神体系。一为肌体体系。


            　　<p>
            人的平常思想活动大部分是无序骚乱的，是能力的浪费比如：疲劳、兴奋、哀伤、激动，人体只有一小部分用于维持生命.在通常情况下，如果这种失调现象不太严重时，通过休息便可自然恢复平衡，但是如果不能主动的自我克制和调节，这种失调会日益加剧导致精神和肌体上的疾病。</p>
        </div>
    </div>
    <hr size="1" color="gray"/>
    <div class="mather04">
        <div class="wd01">
            <img src="./images/bpic49.jpg" width="400" height="200"/>
        </div>
        <div class="wd02">
            <p><a href="#">长期熬夜会给我们带来哪些危害呢？</a></p>
            　　<p>1、免疫力下降
            <p>
                　　熬夜因为睡眠不足，脑细胞没有得到充分的休息，身体正常的代谢功能受到影响。中医理论表明人体是有着独属于自己的循环，是一个相对独立的系统。但是这个系统又是和其所在的环境相协调的，人的循环是和周围自然界的循环相统一的。十一点到三点是肾脏工作和自身休息，这段时间人必须处于睡眠状态肾脏才能工作，如果不是睡眠状态，肾精就会过度的消耗。导致人体的免疫力大大的下降。
            <p>
                　

        </div>
    </div>
    <hr size="1" color="green"/>
    <div class="mather05">
        <div class="wd01">
            <img src="./images/bpic50.jpg" width="400" height="200"/>
        </div>
        <div class="wd02">
            <p><a href="#">经常戴美瞳会对眼睛带来一些什么样的危害呢？</a></p>
            　　<p>1、眼角膜损伤
            <p>

                　其实经常戴美瞳对眼角膜的损伤是很大的，因为美瞳中含有大量的色素，而且许多美瞳中含有的色素都是直接粘在镜片上的，这样也会或多或少的沾到眼球上。当戴的时间过久的时候，这种色素会脱落，造成眼角膜的损伤，引起眼睛上的炎症。

                　　
            <p>2、眼角膜缺氧</p>

        </div>
    </div>
    <div class="footer">
        <p>@milijiankanyangsheng.com 版权所有：计算机网络1701班刘丽所属 &nbsp;&nbsp;制作人：刘丽 </p>
    </div>
</div>
</body>
</html>