<html>
<head>
    <title>日常膳食养生</title>
    <link href="./css/richangyangsheng.css" type="text/css" rel="stylesheet"/>
    <!-- <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <script src="bootstrap/js/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script> -->
</head>
<body>
<div class="all">
    <div class="top">
        <div class="l_top">
            <img src="images/bpic4.jpg" width="50" height="80" align="left"/>
            <p>健康养生网</p>
            <p>Hwalth keeping in good health</p>
        </div>
        <div class="r_top">
            <div class="r_top1">
                <p><a href="denglu.html">登录</a></p>
            </div>
            <div class="r_top2">
                <p><a href="zhuce.html">注册</a></p>
            </div>
        </div>
    </div>
    <div class="daohan">
        <div class="r_daohan">
            <ul>
                <li><a href="index.html">首页</a></li>
                <li><a href="yangshengzhishi.html">养生知识</a></li>
                <li><a href="jiankangzixun.html">健康咨询</a></li>
                <li><a href="yuding.html">预订</a></li>
            </ul>

        </div>
    </div>
    <div class="shshiyshe">
        <p>日常膳食养生</p>
    </div>
    <div class="yshi">
        <div class="y_yshi1">
            <ul>
                <li><img src="images/bpic26.jpg" width="220" height="120" align="left"/></li>
                <li><img src="images/bpic27.jpg" width="220" height="120" align="left"/></li>
                <li><img src="images/bpic28.jpg" width="220" height="120" align="left"/></li>
                <li><img src="images/bpic29.jpg" width="220" height="120" align="left"/></li>
                <li><img src="images/bpic30.jpg" width="220" height="120" align="left"/></li>
            </ul>
        </div>
        <div class="y_yshi2">
            <ul>
                <li><a href="#">沙参山楂粥</a></li>
                <li><a href="#">膳食山楂薏苡仁粥</a></li>
                <li><a href="#">膳食活血袪湿消暑汤</a></li>
                <li><a href="#">膳食小米乳</a></li>
                <li><a href="#">鱼头豆腐煲</a></li>
            </ul>
        </div>
        <div class="y_yshi3">
            <ul>
                <li><img src="images/bpic31.jpg" width="220" height="120" align="left"/></li>
                <li><img src="images/bpic32.jpg" width="220" height="120" align="left"/></li>
                <li><img src="images/bpic33.jpg" width="220" height="120" align="left"/></li>
                <li><img src="images/bpic34.jpg" width="220" height="120" align="left"/></li>
                <li><img src="images/bpic35.jpg" width="220" height="120" align="left"/></li>
            </ul>
        </div>
        <div class="y_yshi4">
            <ul>
                <li><a href="#">冬瓜肉圆</a></li>
                <li><a href="#">小吃四果汤</a></li>
                <li><a href="#">牛油果思慕雪</a></li>
                <li><a href="#">西红柿肉丸汤</a></li>
                <li><a href="#">小菜水豆豉拌凉粉</a></li>
            </ul>
        </div>
    </div>
    <div class="footer">
        <p>@milijiankanyangsheng.com 版权所有：计算机网络1701班刘丽所属 &nbsp;&nbsp;制作人：刘丽 </p>
    </div>
</div>
</body>
</html>