<html>
<head>
    <title>日常膳食养生</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="./css/yangshengzhou.css" type="text/css" rel="stylesheet"/>
    <!-- <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <script src="bootstrap/js/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script> -->
</head>
<body>
<div class="all">
    <div class="top">
        <div class="l_top">
            <img src="images/bpic4.jpg" width="50" height="80" align="left"/>
            <p>健康养生网</p>
            <p>Hwalth keeping in good health</p>
        </div>
        <div class="r_top">
            <div class="r_top1">
                <p><a href="denglu.html">登录</a></p>
            </div>
            <div class="r_top2">
                <p><a href="zhuce.html">注册</a></p>
            </div>
        </div>
    </div>
    <div class="daohan">
        <div class="r_daohan">
            <ul>
                <li><a href="index.html">首页</a></li>
                <li><a href="yangshengzhishi.html">养生知识</a></li>
                <li><a href="jiankangzixun.html">健康咨询</a></li>
                <li><a href="yuding.html">预订</a></li>
            </ul>

        </div>
    </div>
    <div class="nav">
        <div class="jianjie">
            <div class="left_l">
                <img src="images/bpic51.jpg" width="600" height="430" align="left"/>
            </div>
            <div class="right_r01">
                <div class="r_right1">
                    <p><a href="#">银耳莲子粥</a></p>
                </div>
                <hr size="2" color="gray"/>
                <div class="r_right2">
                    <p>
                        银耳莲子粥是一道美味可口的名点。可以美容养颜，还可以清热解暑。而且其中莲子能补脾止泻，益肾固精、养心安神；银耳能提高肝脏解毒能力，保护肝脏功能，它不但能增强机体抗肿瘤的免疫能力，还能增强肿瘤患者对放疗、化疗的耐受力。
                </div
            </div>
            <div class="r_right3">
                <p>营养及功效</p>
            </div>
            <hr size="2" color="gray"/>
            <div class="r_right4">
                <p>
                    中医将红枣归於补气药类，称其性味甘平，有润心肺、止咳、补五脏、治虚损的功效，於胃肠道功能不佳的蠕动力弱及消化吸收功能差时，就很适合常吃红枣以改善肠胃不佳功能而增益体力。在精神紧张、心中烦乱、睡眠不安或一般更年期症候群时，中医的处方常配加红枣，主要是红枣有镇静作。
                </p>
            </div>
        </div>
    </div>
    <div class="weibu">
        <div class="l_wz">
            <div class="l_wz1">
                <p>红枣银耳莲子汤做法</p>
            </div>
            <div class="l_wz2">
                <p>食材准备：
                    银耳、雪梨、红枣、薏米、莲子、冰糖。
                    红枣银耳莲子汤

                </p>
            </div>
            <hr size="2" color="gray"/>
            <div class="l_wz3">
                <p><a href="richangyangsheng.html">制作步骤</a></p>
            </div>
            <div class="l_wz4">
                <p>1、银耳泡发后洗净掰成小朵，雪梨去皮切成小块备用；</p>
                <p>2、莲子、薏米、红枣洗净后一起放进慢炖锅里，加入银耳和雪梨及适量冷水，加入两小块冰糖，炖上2个小时即可。
                </p>
            </div>
        </div>
        <div class="r_tupan">
            <img src="images/bpic52.jpg" width="600" height="430" align="left"/>
        </div>
    </div>
</div>
<div class="footer">
    <p>@milijiankanyangsheng.com 版权所有：计算机网络1701班刘丽所属 &nbsp;&nbsp;制作人：刘丽 </p>
</div>
</div>
</body>
</html>