<html>
<head>
    <title>养生知识</title>
    <link href="./css/yangshengzhishi.css" type="text/css" rel="stylesheet"/>
    <!-- <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <script src="bootstrap/js/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script> -->
</head>
<body>
<div class="all">
    <div class="top">
        <div class="l_top">
            <img src="images/bpic4.jpg" width="50" height="80" align="left"/>
            <p>健康养生网</p>
            <p>Hwalth keeping in good health</p>
        </div>
        <div class="r_top">
            <div class="r_top1">
                <p><a href="denglu.html">登录</a></p>
            </div>
            <div class="r_top2">
                <p><a href="zhuce.html">注册</a></p>
            </div>
        </div>
    </div>
    <div class="nav">
        <div class="left">
            <div class="l_left1">
                <img src="images/bpic11.jpg" width="300" height="70" align="left"/>
            </div>
            <div class="l_left2">
                <p><strong>瑜伽</strong></p>
            </div>
            <div class="l_left3">
                <ul>
                    <li>瑜伽一词，是从印度梵语yug或yuj而来，是一个发音，其含意为“一致”“结合”或“和谐”。瑜伽就是一个通过提升意识，帮助人类充分发挥潜能的体系。瑜伽
                        姿势运用古老而易于掌握的技巧，改善人们生理、心理、情感和精神方面的能力，是一种达到身体、心灵与精神和谐统一的运动方式。古印度人更相信人可以与天合一，他们以不同的瑜伽修炼方法融入日常生活而奉行不渝：道德、忘我的动作、稳定的头脑、宗教性的责任、无欲无求、冥想和宇宙的自然和创造。
                        　　近年在世界各地兴起和大热的瑜伽，并非只是一套流行或时髦的健身运动这么简单。瑜伽是一种非常古老的能量知识修炼方法，集哲学、科学和艺术于一身。瑜伽的基础建筑在古印度哲学上，数千年来，心理、生理和精神上的戒律已经成为印度文化中的一个重要组成部分。古代的瑜伽信徒发展了瑜伽体系，因为他们深信通过运动身体和调控呼吸，可以完全控制心智和情感，以及保持永远健康的身体。
                    </li>
                </ul>
            </div>
        </div>
        <div class="right">
            <img src="images/bpic10.jpg" width="950" height="450" align="right"/>
        </div>
    </div>
    <div class="daohan">
        <div class="r_daohan">
            <ul>
                <li><a href="index.html">首页</a></li>
                <li><a href="yangshengzhishi.html">养生知识</a></li>
                <li><a href="jiankangzixun.html">健康咨询</a></li>
                <li><a href="yuding.html">预订</a></li>
            </ul>

        </div>
    </div>
    <div class="tpwz">
        <div class="left">
            <div class="l_left4">
                <ul>
                    <li><img src="images/bpic13.jpg" width="220" height="120" align="left"/></li>
                    <li><img src="images/bpic14.jpg" width="220" height="120" align="left"/></li>
                    <li><img src="images/bpic16.jpg" width="220" height="120" align="left"/></li>
                    <li><img src="images/bpic17.jpg" width="220" height="120" align="left"/></li>
                </ul>
            </div>
            <div class="l_left5">
                <ul>
                    <li><p><a href="yangshengzhou.html"><strong>银耳莲子粥</strong></a></p>银耳莲子粥是一道美味可口的名点。可以美容养颜，还可以清热解暑。
                    </li>
                    <li><p><a href="#"><strong>红豆薏米粥</strong></a></p>
                        红豆薏米粥是一道以赤小豆、薏米、仙鹤草等作为主要原料制作而成的美食，这道粥制作简单、营养丰富，鲜香可口。
                    </li>
                    <li><p><a href="#"><strong>红枣山药粥</strong></a></p>冬季养生调理，补虚养身调理，气血双补调理，老人食谱，延缓衰老调理。</li>
                    <li><p><a href="#"><strong>紫薯小米粥</strong></a></p>紫薯小米粥是一道养生保健的佳品，它具有养胃的作用，还有补血的功能。</li>
            </div>
            <div class="l_left6">
                <ul>
                    <li><img src="images/bpic18.jpg" width="220" height="120" align="left"/></li>
                    <li><img src="images/bpic20.jpg" width="220" height="120" align="left"/></li>
                    <li><img src="images/bpic21.jpg" width="220" height="120" align="left"/></li>
                    <li><img src="images/bpic22.jpg" width="220" height="120" align="left"/></li>
                </ul>
            </div>
            <div class="l_left7">
                <ul>
                    <li><p><a href="#"><strong>智瑜伽</strong></a></p> 智瑜伽认为，知识有低等和高等之别。寻常人所说的知识仅仅局限于生命和物质的外在表现。</li>
                    <li><p><a href="#"><strong>业瑜伽</strong></a></p>业瑜伽，梵文为Karma Yoga，又译作羯磨。业瑜伽本意是指行为本身，而不是行为之后产生的“业”。
                    </li>
                    <li><p><a href="#"><strong>哈他瑜伽</strong></a></p>哈他瑜伽主要练习如何控制身体和呼吸，更深一层的效果是使身体各机能有序运转，从而使心灵获得宁静，变得祥和。
                    </li>
                    <li><p><a href="#"><strong>王瑜伽</strong></a></p>王瑜伽重视冥想与调息。是印度的印度教修行者通往精神世界的主流之路。</li>
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="r_right4">
                <img src="images/bpic25.jpg" width="320" height="70" align="left"/>
            </div>
            <div class="r_right5">
                <p><strong>养生粥</strong></p>
            </div>
            <div class="r_right6">
                <ul>
                    <li><a href="#">南瓜粥</a></li>
                    <li><a href="#">八宝粥</a></li>
                    <li><a href="#">皮蛋瘦肉粥</a></li>
                    <li><a href="#">玫瑰花粥粥</a></li>
                    <li><a href="#">红枣粥</a></li>
                </ul>

            </div>
            <div class="r_right7">
                <img src="images/bpic11.jpg" width="320" height="70" align="left"/>
            </div>
            <div class="r_right8">
                <p><strong>古典瑜伽</strong></p>
            </div>
            <div class="r_right9">
                <ul>
                    <li><a href="#">节奏瑜伽</a></li>
                    <li><a href="#">业瑜伽</a></li>
                    <li><a href="#">哈达瑜伽</a></li>
                    <li><a href="#">流程瑜伽</a></li>
                    <li><a href="#">瘦身瑜伽</a></li>
                    <li><a href="#">力量瑜伽</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="shshiyshe">
        <p>日常膳食养生</p>
    </div>
    <div class="yshi">
        <div class="y_yshi1">
            <ul>
                <li><img src="images/bpic26.jpg" width="220" height="120" align="left"/></li>
                <li><img src="images/bpic27.jpg" width="220" height="120" align="left"/></li>
                <li><img src="images/bpic28.jpg" width="220" height="120" align="left"/></li>
                <li><img src="images/bpic29.jpg" width="220" height="120" align="left"/></li>
                <li><img src="images/bpic30.jpg" width="220" height="120" align="left"/></li>
            </ul>
        </div>
        <div class="y_yshi2">
            <ul>
                <li><a href="#">沙参山楂粥</a></li>
                <li><a href="#">膳食山楂薏苡仁粥</a></li>
                <li><a href="#">膳食活血袪湿消暑汤</a></li>
                <li><a href="#">膳食小米乳</a></li>
                <li><a href="#">鱼头豆腐煲</a></li>
            </ul>
        </div>
        <div class="y_yshi3">
            <ul>
                <li><img src="images/bpic31.jpg" width="220" height="120" align="left"/></li>
                <li><img src="images/bpic32.jpg" width="220" height="120" align="left"/></li>
                <li><img src="images/bpic33.jpg" width="220" height="120" align="left"/></li>
                <li><img src="images/bpic34.jpg" width="220" height="120" align="left"/></li>
                <li><img src="images/bpic35.jpg" width="220" height="120" align="left"/></li>
            </ul>
        </div>
        <div class="y_yshi4">
            <ul>
                <li><a href="#">冬瓜肉圆</a></li>
                <li><a href="#">小吃四果汤</a></li>
                <li><a href="#">牛油果思慕雪</a></li>
                <li><a href="#">西红柿肉丸汤</a></li>
                <li><a href="#">小菜水豆豉拌凉粉</a></li>
            </ul>
        </div>
    </div>
    <div class="footer">
        <p>@milijiankanyangsheng.com 版权所有：计算机网络1701班刘丽所属 &nbsp;&nbsp;制作人：刘丽 </p>
    </div>
</div>
</body>
</html>