<html>
<head>
    <meta charset="utf-8">
    <title>健康养生咨询</title>
    <link href="./css/yuding.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="all">
    <!--  html头部 -->
    <div class="top">
        <div class="l_top">
            <img src="images/bpic4.jpg" width="50" height="80" align="left"/>
            <p>健康养生网</p>
            <p>Hwalth keeping in good health</p>
        </div>
        <div class="r_top">
            <div class="r_top1">
                <p><a href="denglu.html">登录</a></p>
            </div>
            <div class="r_top2">
                <p><a href="zhuce.html">注册</a></p>
            </div>
        </div>
    </div>
    <div class="daohan">
        <div class="r_daohan">
            <ul>
                <li><a href="index.html">首页</a></li>
                <li><a href="yangshengzhishi.html">养生知识</a></li>
                <li><a href="jiankangzixun.html">健康咨询</a></li>
                <li><a href="yuding.html">预订</a></li>
            </ul>

        </div>
    </div>
    <div class="nav">
        <div class="t_nav">
            <ul>
                <li><img src="images/bpic36.jpg" width="220" height="120" align="left"/></li>
                <li><img src="images/bpic37.jpg" width="220" height="120" align="left"/></li>
                <li><img src="images/bpic38.jpg" width="220" height="120" align="left"/></li>
                <li><img src="images/bpic39.jpg" width="220" height="120" align="left"/></li>
                <li><img src="images/bpic40.jpg" width="220" height="120" align="left"/></li>
            </ul>
        </div>
        <div class="w_nav">
            <ul>
                <li><p>课程：智瑜伽</p>
                    <p>时间：11：40-12：35</p>
                    <p>价格：200元</p></li>
                <li><p>课程：节奏瑜伽</p>
                    <p>时间：18：20-19：35</p>
                    <p>价格：200元</p></li>
                <li><p>课程：哈他瑜伽</p>
                    <p>时间：11：40-12：35</p>
                    <p>价格：200元</p></li>
                <li><p>课程：流程瑜伽</p>
                    <p>时间：18：20-19：35</p>
                    <p>价格：200元</p></li>
                <li><p>课程：力量瑜伽</p>
                    <p>时间：11：40-12：35</p>
                    <p>价格：200元</p></li>
            </ul>
        </div>
        <div class="tw_nav">
            <ul>
                <li><a href="#">预订</a></li>
            </ul>
        </div>
        <div class="t_nav">
            <ul>
                <li><img src="images/bpic41.jpg" width="220" height="120" align="left"/></li>
                <li><img src="images/bpic42.jpg" width="220" height="120" align="left"/></li>
                <li><img src="images/bpic43.jpg" width="220" height="120" align="left"/></li>
                <li><img src="images/bpic44.jpg" width="220" height="120" align="left"/></li>
                <li><img src="images/bpic45.jpg" width="220" height="120" align="left"/></li>
            </ul>
        </div>
        <div class="w_nav">
            <ul>
                <li><p>课程：瘦身瑜伽</p>
                    <p>时间：11：40-12：35</p>
                    <p>价格：200元</p></li>
                <li><p>课程：艾扬格瑜伽</p>
                    <p>时间：18：20-19：35</p>
                    <p>价格：200元</p></li>
                <li><p>课程：孕瑜伽</p>
                    <p>时间：11：40-12：35</p>
                    <p>价格：200元</p></li>
                <li><p>课程：埋索尔瑜伽</p>
                    <p>时间：18：20-19：35</p>
                    <p>价格：200元</p></li>
                <li><p>课程：热瑜伽</p>
                    <p>时间：11：40-12：35</p>
                    <p>价格：200元</p></li>
            </ul>
        </div>
        <div class="tw_nav">
            <ul>
                <li><a href="#">预订</a></li>
            </ul>
        </div>
    </div>
    <div class="footer">
        <p>@milijiankanyangsheng.com 版权所有：计算机网络1701班刘丽所属 &nbsp;&nbsp;制作人：刘丽 </p>
    </div>
</div>
</body>
</html>